        :root{
          --teal: #2ec1ac;
          --teal-hover: #279e8c;
        }

        *{
            font-family: "Noto Sans", sans-serif;
            
        }
        .h-font{
          font-family: "Noto Sans", sans-serif;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none; 
          margin: 0;                
        }

        input[type=number] {
          -moz-appearance: textfield; 
        }

        .banner-img {
          width: 95%;
          height: 350px;     /* 👈 change this value */
          object-fit: cover;
          border-radius: 20px;
            /* keeps image nice */
        }
        .booking-box {
          margin-top: -50px; /* 👈 exactly what you want */
          z-index: 10;
        }
        @media screen and (max-width: 575px) {
          .booking-box {
            margin-top: 0px;
            z-index: 10;
          }
          .banner-img {
            width: 85%;
            height: 200px;    
            object-fit: cover;
            border-radius: 0;
          }
          .img-rooms{
            width: 100%;
            height: 300px;
            object-fit: cover;
          }

        }
        .booking-card{
          border-radius: 20px 20px 0 0;
        }
        .custom-bg{
          background-color: var(--teal);
          border: 1px var(--teal);
        }
        .custom-bg:hover{
          background-color: var(--teal-hover);
          border-color: var(--teal-hover);
        }
        .room-box{
          width: 95%;
          background-color: var(--teal);

        }
        .big-box{
          width: 400px;
          height: 300px;
        }
        .img-rooms{
          width: 400px;
          height: 300px;
          object-fit: cover;
        }
        .card{
          margin-left: 70px;
        
        }
        .card-img-top{
          height: 200px;
          object-fit: cover;
        }
  .h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
  }